{% extends "wict/index.html" %}

{% block title %}Nova senha{% endblock %}

{% block content %}
{% if validlink %}
	<p>Entre com sua nova senha, repetindo-a para evitar erros de digitação.</p>
	<form action="." method="post">
		{% csrf_token %}
		{% load wict %}
		{% wict_form form %}
		<input type="submit"/>
	</form>
{% else %}
	<p>O link que você tentou acessar é inválido, possivelmente porque já expirou.</p>
	<p>Tente requisitar uma senha novamente, e caso ainda tenha dificuldades, entre
	em contato conosco.</p>
{% endif %}
{% endblock %}
