<h2>Informações</h2>
<p>Para submeter seu artigo ao VI WICT-Comp é necessário que ele possua o
formato correto, para revisão e avaliação. Portanto, tenha cuidado ao formatar
suas seções e o corpo de texto.</p>
<p>Para a sexta edição do Workshop de Iniciação Científica e Tecnológica da
Computação - ICMC/USP, os artigos deverão ser elaborados respeitando o formato
<em>OpenDocument</em> (extensão <code>.odt</code>) e recomendamos o uso do
LibreOffice (versão maior ou igual a 3.4) para a edição do corpo de texto. Uma
vez escritos e formatados, os artigos devem ser enviados no formato portável de
dados (extensão <code>.pdf</code>).</p>
<p>Para detalhes do <em>OpenDocument</em>,
<a href="http://en.wikipedia.org/wiki/Opendocument">clique aqui</a>.</p>
<p>Para detalhes do <em>LibreOffice</em>,
<a href="http://pt-br.libreoffice.org/">clique aqui</a>.</p>
