<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/text.css"/>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/960.css"/>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/wict.css"/>
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/formalize.css"/>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.formalize.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/wict.js"></script>
		<title>WICT - {% block title %}Semcomp{% endblock %}</title>
	</head>
	<body>
		<div id="banner-wict">
			<div class="container_12">
				<ul id="login-bar" class="grid_3 push_9">
					{% if user.is_authenticated %}
						<li>Olá, {{user.username}}</li>
						<li><a href="{% url auth_logout %}">Sair</a></li>
					{% else %}
						<li><a href="{% url auth_login %}">Login</a></li>
						<li><a href="{% url registration_register %}">Criar conta</a></li>
					{% endif %}
				</ul>
				<br class="clearfix"/>
				<div id="banner-text">
					<img class="grid_2 alpha" src="{{STATIC_URL}}img/logo_wict.png"/>
					<div class="grid_10 omega">
						<h1>VI Workshop de Iniciação Científica e Tecnológica</h1>
						<p>xx de setembro de 2012</p>
						<p>Instituto de Ciências Matemáticas e de Computação - ICMC</p>
						<p>USP São Carlos</p>
					</div>
				</div>
			</div>
		</div>
		<div id="main-nav" class="container_12 clearfix">
			<ul>
				<li><a class="grid_4" href="/">Home</a></li>
				<li><a class="grid_4" href="/articles/">Trabalhos</a></li>
				{% if user.is_authenticated %}
					{% if user.get_profile.is_reviewer %}
						<li><a class="grid_4" href="/review/">Revisão</a></li>
					{% else %}
						<li><a class="grid_4" href="/submission/">Submissão</a></li>
					{% endif %}
				{% else %}
					<li><a class="grid_4" href="/registration/">Inscrição</a></li>
				{% endif %}
			</ul>
		</div>
		<div id="content" class="container_12 clearfix">
			<div class="grid_9">
				{% block content %}
					{% include 'wict/index-info.html' %}
				{% endblock %}
			</div>
			<div id="promotion" class="grid_3">
				<h2>Promotores</h2>
				<img class="grid_3 alpha omega" src="{{STATIC_URL}}img/logo_semcomp.png">
				<p>15ª Semana da Computação</p>
				<hr/>
				<img class="grid_3 alpha omega" src="{{STATIC_URL}}img/logo_usp.png">
				<p>Universidade de São Paulo</p>
				<hr/>
				<img class="grid_3 alpha omega" src="{{STATIC_URL}}img/logo_icmc.png">
				<p>Programas PIC - ICMC</p>
			</div>
		</div>
	</body>
</html>
