<h2>Informações</h2>
<p>Bem vindo ao sistema de gerenciamento de arquivos do VI WICT - Comp.</p>
<p>O Workshop de Iniciação Científica e Tecnológica da Computação - ICMC/USP,
está em sua quarta edição, e oferece aos alunos de graduação uma excelente
oportunidade de praticar importantes aspectos da pesquisa acadêmica por meio da
elaboração de um texto científico e apresentação oral do trabalho realizado na
Iniciação Científica</p>
<p>Para o WICT-Comp deste ano poderão ser submetidos trabalhos elaborados por
qualquer aluno de graduação matriculado em uma instituição de ensino superior.
As apresentações serão realizadas no Instituto de Ciências Matemáticas e de
Computação (ICMC) da Universidade de São Paulo, <em>campus</em> de São
Carlos</p>
<p>Caso o trabalho sumetido esteja associado à criação de <em>software</em> ou
<em>hardware</em>, incentivamos que estes sejam exibidos durante a
apresentação, em uma nova modalidade de apresentação, a prática. Esta deve ser
especificada na hora da submissão do artigo</p>

<h2>Tópicos de Interesse</h2>
<p>O WICT cobre os mais diversos tópicos relacionados à pesquisa na Computação.
Os tópicos de interesse incluem, mas não são limitados a:</p>
<ol>
	<li>Banco de Dados</li>
	<li>Computação Gráfica</li>
	<li>Processamento de Imagens</li>
	<li>Inteligência Computacional</li>
	<li>Sistemas Web e Multimídia Interativos</li>
	<li>Arquitetura de Computadores</li>
	<li>Sistemas Distribuídos</li>
	<li>Programação Concorrente</li>
	<li>Engenharia de Software</li>
	<li>Sistemas Embarcados</li>
	<li>Robótica</li>
</ol>
<p>As informações sobre formato de arquivos se encontram <a
href="/articles/">neste link</a>. Você terá acesso à informação do revisor sobre
seu artigo. Tenha cuidado para não perder a data limite para sumbissão de seu
artigo.</p>
<p>Os artigos aceitos serão publicados nos anais do evento e os melhores
artigos serão premiados.</p>
<p>Obrigado,</p>
<p>Comissão Organizadora</p>
<p>WICT COMP</p>
<p>Semana da Computação</p>
