{% extends "wict/index.html" %}

{% block title %}Submissões{% endblock %}

{% block content %}
	{% if article %}
		<div class="article grid_9 alpha omega">
			<div class="article-info grid_8 alpha">
				<h3>{{article.title}}</h3>
				<p title="{{article.abstract}}"><span>Resumo:</span> {{article.abstract|truncatechars:200}}</p>
				<p><span>Assunto:</span> {{article.get_topic_display}}</p>
				<p><span>Autores:</span> {{authors|join:", "}}</p>
			</div>
			<div class="grid_1 omega article-actions">
				<p><a title="Editar" href="{% url submission_edit %}"><img src="{{STATIC_URL}}img/edit.png"/></a></p>
				<p><a title="Download" href="{{article.file.url}}"><img src="{{STATIC_URL}}img/pdf.png"/></a></p>
				<p><a title="Apagar" onclick="return confirm('Apagar submissão?');" href=""><img src="{{STATIC_URL}}img/delete.png"/></a></p>
			</div>
		</div>
	{% else %}
		<h1>Você ainda não submeteu nenhum artigo.</h1>
		<p>Para submeter um artigo, clique <a href="{% url submission_new %}">aqui</a>.</p>
	{% endif %}
{% endblock %}
