{% extends "wict/index.html" %}

{% load i18n %}

{% block title %}Revisão - {{review.article.title|truncatechars:20}}{% endblock %}

{% block content %}
	<h1>Revisão de trabalhos</h1>
	<div class="grid_9 alpha omega article-info">
		<p><span>Título:</span> {{review.article.title}}</p>
		<p><span>Resumo:</span> {{review.article.abstract}}</p>
		<p><span>Assunto:</span> {{review.article.get_topic_display}}</p>
		<p><span>Download do artigo:</span> <a href="{{review.article.file.url}}"><img src="{{STATIC_URL}}img/pdf.png"/></a></p>
	</div>
	<form class="grid_9 alpha omega" action="{% url 'website_reviews_display' review.pk %}" method="post">
		{% csrf_token %}
		{{formset.management_form}}
		{% for form in formset %}
			<div class="form-div">
				{{form.non_field_errors}}
				{% for hidden in form.hidden_fields %}
					{{hidden}}
				{% endfor %}
				<p class="grid_9 alpha omega"><strong>{{form.attribute.value}}</strong><p>
				<div class="grid_7 alpha">
					{% if form.help_text %}
						<p class="help-text">{{form.help_text.value}}</p>
					{% endif %}
					{{form.comment}}
				</div>
				<div class="grid_2 omega radio-values">
					{{form.value.errors}}
					{{form.value}}
				</div>
				<hr class="grid_9 alpha omega" style="margin-top: 10px; margin-bottom: 10px;"/>
			</div>
		{% endfor %}
			<div class="form-div">
				{{evaluation.non_field_errors}}
				{% for hidden in evaluation.hidden_fields %}
					{{hidden}}
				{% endfor %}
				<p class="grid_9 alpha omega"><strong>{{evaluation.attribute.value}}</strong><p>
				<div class="grid_7 alpha">
					{% if evaluation.help_text %}
						<p class="help-text">{{evaluation.help_text.value}}</p>
					{% endif %}
					{{evaluation.comment}}
				</div>
				<div class="grid_2 omega radio-values">
					{{evaluation.value.errors}}
					{{evaluation.value}}
				</div>
				<hr class="grid_9 alpha omega" style="margin-top: 10px; margin-bottom: 10px;"/>
			</div>
		<div class="grid_9 alpha omega">
		<input type="submit" value="{% trans "Salvar" %}"/>
		</div>
	</form>
{% endblock %}
