{% extends "wict/index.html" %}

{% block title %}Editar artigo{% endblock %}

{% block content %}
	<form method="post" action="" enctype="multipart/form-data">
		{% csrf_token %}
		{% include "wict/wict_form.html" with form=form only %}
		{% include "wict/wict_dynamicformset.html" with formset=formset legend="Autores" only %}
		<script>
			$('#add-form-element').click(function() {
				cloneFormElement('table.form-row tr:last', 'author_set');
			});
		</script>
		<input type="submit"/>
	</form>
{% endblock %}
 
